<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/liuhll/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="liuhll" />
            <add key="ClearTextPassword" value="195c66e14d38ab123a1faf52879b56e596bc2d01" />
        </github>
    </packageSourceCredentials>
</configuration>